In [19]:
import pandas as pd
from sqlalchemy import create_engine
import sys

In [20]:
DATABASE_CONFIG = {
    'host': '10.0,0,34',
    'port': 3310,
    'user': 'root',
    'password': 'root',
    'database': 'retail_db'
}

In [21]:
#retorna el motor de MySQL
# Metodo que devuelve el engine para la conexion 

def create_db_engine(config):
    """
    crea una opcion de motor de BD
    """
    try:
        engine= create_engine(f"mysql://{config['user']}:{config['password']}@{config['host']}:{config['port']}/{config['database']}")
        return engine
    except Exception as e:
        print(e)

In [22]:
create_db_engine(DATABASE_CONFIG)

Engine(mysql://root:***@10.0,0,34:3310/retail_db)

In [50]:
def read_csv(file_path,columns):
    """
    leo archivos csv y lo devuelvo al DataFrame
    """
    try:
        df= pd.read_csv(file_path, header=None, sep='|', names=columns)
        return df
    except Exception as e:
        print(e)

In [51]:
df_deparments= read_csv('../data/departments',['department_id', 'department_name'])

In [ ]:
def transform_departments(df):
    """
    ayuda a validar si hay duplicados o no
    """
    if df['department_name'].duplicated().any():
        print('Error: filas duplicadas')
        sys.exit(1)
    return df

In [54]:
transform_departments(df_deparments)

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors
5              7        Fan Shop

In [ ]:
def transform_customers(df):
    """
    """
    df['customer_email'] = df['customer_email'].str.lower()

   # validar campo obligatorios